<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>한국어 연어 검색기</title>

<link href="../stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>


<body>
  <div id="wrapper">
    <div id="menu-wrapper">
      <div id="menu" class="container">
        <div id="sub_menu1">
          <a href="index">한국어 연어 검색기 <i class='fas fa-fish' style='font-size:1em'></i></a>
        </div>
        <div id="sub_menu2">
          <ul>
            <li class="current_page_item"><a href="index">Home</a></li>
            <li><a href="about">About</a></li>
            <!--<li><a href="#">Blog</a></li>-->
            <!--<li><a href="#">Portfolio</a></li>-->
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- end #menu -->
    </div>
    <div id="page" class="container2">
      <div id="content">
        <div class="title">
          <h2>검색할 단어를 입력해 주세요.</h2>
					<br>
					<p>예: 마음, 먹다, 짧다 (현재 지원되는 품사: 명사, 동사, 형용사)</p>
        </div>
				<form action="action" method="post">
          <!-- keywords: text, submit // variable: user_query -->
          <input id="query" type="text" name="user_query" value="">
          <input id="button" type="submit" value="검색">
        </form>
      </div>
      <div id="sidebar">
        <div class="box2">
          <div class="title">
            <h2>Qué harás</h2>
          </div>
          <ul class="style1">
            <li><a href="#">게시글 1</a></li>
            <li><a href="#">게시글 2</a></li>
            <li><a href="#">게시글 3</a></li>
            <li><a href="#">게시글 4</a></li>
            <li><a href="#">게시글 5</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="copyright" class="container">
    <p>&copy; ehong. All rights reserved. | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
  </div>
</body>
</html>
